h1 {
    text-align: center;
    background-color: white;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding: 10px;
    border-width: 30px;
    text-transform: uppercase;

}
a:hover {
    color: blue;
}

* {
    background-color: white;
    
}

h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: groove;
    color: black;
    letter-spacing: 0.2em;
    border-width: 3px;
    width: 130px;
    text-align: center;
}
ul {
    list-style-type: inside circle;
    width: 300px;
}

img.align-right {
    width: 1000px;
    height: 1000px;
}

