h1 {
    text-align: center;
    background-color: white;
    color: purple;
    border-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    padding: 10px;
    border-width: 30px;
    text-transform: uppercase;

}
a:hover {
    color: rgb(136, 195, 232);
}

* {
    background-color: white;
    
}

h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: rgb(66, 154, 186);
    letter-spacing: 0.2em;
    
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(206, 79, 213);
   
}
ul {
    list-style-type: inside circle;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-position: outside;
}
img {
    height: 300px;
    width: 300px;
    float: right;
   
}
h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
  }